@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');

@font-face {
    font-family: gilroy;
    src: url('./gilroy-bold-cufonfonts/Gilroy-Heavy.ttf');
}

div {
    font-family: gilroy;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.cursor {
    height: 25px;
    width: 25px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
}

.blurCursor {
    height: 500px;
    width: 500px;
    background-color: rgba(150, 193, 30, 0.30);
    border-radius: 50%;
    position: fixed;
    filter: blur(80px);
    z-index: 9;
    transition: all linear 0.4s;
}

.nav {
    height: 145px;
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    gap: 45px;
    position: fixed;
    z-index: 99;

    & img {
        height: 75px;
    }

    & h4 {
        font-weight: 500;
    }
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.39);
}

.page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;

    & h1 {
        font-size: 115px;
        font-weight: 900;
        position: relative;
    }

    & h1::before {
        content: "EAT. DRINK. PLAY.";
        position: absolute;
        top: -6px;
        left: -6px;
        color: black;
        -webkit-text-stroke: 3px #95c11e;
        z-index: -1;
    }

    & h2 {
        font-size: 30px;
        font-weight: 800;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    & p {
        font-size: 22px;
        font-weight: 500;
        width: 46%;
        text-align: center;
        line-height: 1.5;
    }

}

.page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

.scroller {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    z-index: 10;

    & h4 {
        display: inline-block;
        font-family: gilroy;
        font-size: 120px;
        font-weight: 900;
        margin-right: 50px;
        -webkit-text-stroke: 1px white;
        color: transparent;
        transition: all linear 0.3s;

    }

    & h4:hover {
        color: #95c11e;
        -webkit-text-stroke: 1px #95c11e;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    & .scroller-in {
        display: inline-block;
        animation-name: scroll;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.about-us {
    height: 40vh;
    width: 100%;
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;
    margin: 100px 0;

    & img {
        height: 220px;
        width: 220px;
        object-fit: cover;
        border-radius: 20px;
    }
}

.about-us-in {
    width: 52%;
    text-align: center;

    & h3 {
        font-size: 45px;
        font-weight: 900;
        margin-bottom: 40px;
    }

    & p {
        font-size: 22px;
        line-height: 40px;
    }
}

.cards-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;

    & .card {
        height: 90%;
        width: 25%;
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 10;
        overflow: hidden;

        &:hover {
            transform: rotate3d(-1, 1, 0, 20deg);
        }

        &:hover .overlay {
            opacity: 1;
        }

        & .overlay {
            height: 100%;
            width: 100%;
            background-color: #ace11b;
            padding: 30px;
            padding-top: 150px;
            opacity: 0;
            transition: all ease 0.6s;

            & h3 {
                color: black;
                font-size: 35px;
                text-transform: uppercase;
                font-weight: 900;
                margin-bottom: 20px;
            }

            & p {
                color: black;
                font-size: 20px;
                line-height: 40px;
            }
        }
    }

    & #card1 {
        background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1");
    }

    & #card2 {
        background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1");
    }

    & #card3 {
        background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1");
    }
}

.greendiv {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top right, rgba(179, 232, 36, 1), rgba(149, 193, 30, 1), rgba(3, 156, 61, 1));
    position: relative;
    z-index: 10;
    margin: 50px 0;


    & img {
        height: 100%;
        object-fit: cover;
        width: 12%;
    }

    & h4 {
        width: 50%;
        font-size: 27px;
        color: black;
        text-align: center;
        line-height: 50px;
        font-weight: 900;
    }
}

.page3 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;

    & p {
        font-size: 28px;
        font-weight: 900;
        width: 60%;
        text-align: center;
        text-transform: uppercase;
        line-height: 45px;
    }

    & img {
        position: absolute;
        height: 50px;

        &#colon1 {
            top: 20%;
            left: 10%;
        }

        &#colon2 {
            right: 10%;
            bottom: 20%
        }

    }
}

.page4 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    position: relative;
    z-index: 10;

    & h1 {
        font-size: 104px;
        position: absolute;
        top: -10%;
        font-weight: 900;
        font-family: gilroy;
        color: black;
        -webkit-text-stroke: 2px white;
    }

    & .element {
        height: 75%;
        width: 27%;
        overflow: hidden;
        border-radius: 20px;
        position: relative;

        & h2 {
            height: 100%;
            width: 100%;
            color: black;
            font-size: 35px;
            font-weight: 900;
            background-color: #ace11b;
            transition: all ease 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 10;

            &:hover {
                color: white;
                background-color: transparent;

            }
        }

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            scale: 1.1;
            transition: all ease 0.5s;
        }

        &:hover img {
            scale: 1;
        }
    }
}
