@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

html , body{
    width: 100%;
    height: 100%;
}

.cursor { 
    height: 25px;
    width: 25px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

.blurCursor {
    height: 500px;
    width: 500px;
    background-color: rgba(116, 169, 37, 0.25);
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(100px);
}

.nav{
    height: 145px;
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    gap: 45px;
    position: fixed;
    z-index: 99;
}

.nav img{
    height: 75px;
}

.nav h4{
    font-weight: 500;
}

video{
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.main{
    position: relative;
    background-color: rgba(0,0,0,0.37);
}

.page1{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}

.page1 h1{
    font-size: 115px;
    font-weight: 900;
    position: relative;
}

.page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    top: -6px;
    left: -6px;
    color: black;
    -webkit-text-stroke: 3px #95c11e;
    z-index: -1;
}

.page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 15px;
}
.page1 p{
    font-size: 22px;
    font-weight: 500;
    width: 46%;
    text-align: center;
    line-height: 1.5;
}

.page2{
    height: 100vh;
    width: 100%;
    z-index: 10;
}